/* Denna fil skall innehålla din CSS kod */

body {
  background-color: #b58b63;
}

main {
  background-color: #a5b58d;
  padding: 10px;
  margin: auto;
  display: grid;
  max-width: 50em;
  grid-template:
  "a a"
  "b c"
  "d e"; 
  border: 2px solid #000;
}

#title {
  grid-area: a;
  border: 5px solid #000;
  background-color: #f6efe8;
}

img {
  max-width: 93%;
  border: 2px solid #000;
  margin: auto;
}

h3{
  text-align: center;
}

div {
  width: 93%;
  margin: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f6efe8; 
  border: 2px solid #000;
}


