
* {
  transition: all 0.2s ease;
}


body {
  background-color: #b58b63;
  display: grid;
  grid-template-areas:
  "b a";
}

main {
  grid-area: a;
  background-color: #a5b58d;
  
  min-height: 90vh;
  padding: 20px;
  margin: auto;
  display: grid;
  max-width: 70vw;
  grid-template-areas:
  "a a"
  "b c"
  "d e"
  "f g"; 
  border: 2px solid #000;
  box-shadow: 0px 0px 10px black;
  
  border-radius: 1em;
}


#title {
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
  padding: 0.2em;
  min-width: 60%;
  grid-area: a;
  border: 2px solid #000;
  background-color: #f6efe8;
  box-shadow: 0px 0px 10px black;
  border-radius: 1em;
}

#main_img1, #main_img2 {
  height: 38vh;
  border: 2px solid #000;
  margin: auto;
  box-shadow: 0px 0px 10px black;
  max-width: 95%;
}

#main_img1 {
  border-radius: 0 1em 1em 0em;
}
#main_img2 {
  border-radius: 1em 0 0 1em;
}

h2{
  font-size: 2em;
  text-align: center;
}

#main_text1, #main_text2 {
  height: 38vh;
  margin: auto;
  margin-right: auto;
  margin-left: auto;
  background-color: #f6efe8; 
  border: 2px solid #000;
  box-shadow: 0px 0px 10px black;
  max-width: 95%;
}
#main_text1 {
  border-radius: 1em 0 0 1em;
}
#main_text2 {
  border-radius: 0 1em 1em 0;
}


p {
  font-size: 1.7em;
  text-align: center;
  margin: 1em;
}

aside {
  grid-area: b;
  min-height: 90vh;
  
  padding: 20px;
  margin: auto;
  background-color: #a5b58d;
  display: flex;
  width: 20vw;
  border: 2px solid #000;
  box-shadow: 0px 0px 10px black;
  border-radius: 1em;
  flex-direction: column;
  justify-content: space-around;
}

.nav_item {
  background-color: #f6efe8;
  padding: 1em;
  min-width: 10em;
  text-align:center;
  border: 2px solid #000;
  box-shadow: 0px 0px 10px black;
  border-radius: 1em;
}

.nav_item > a {
  color: black;
  font-size: 1.7em;
  margin: auto;
}

.nav_item:hover {
  background-color: #e8d6c4;
}

.menu_img {
  margin: auto;
  margin-top: 1em;
  max-width: 100%;
  border: 2px solid #000;
  box-shadow: 0px 0px 10px black;
  border-radius: 1em; 
}
